<div class="press-contact">
  <p>Whether you&rsquo;re interested in Speck, need images for your article, or want to catch up on some light press release reading, <br>you can find what you need here.</p>
  <p><strong>Media inquiries should be directed to: </strong><a href="mailto:speck@mightypr.com" target="_blank">speck@mightypr.com</a></p>
</div>