<div class="sp-text-cont-pg-main sp-macbook-case-pg-main sp-airpod-case-pg-main">
	<div class="sp-cst-container">
		<h1>Fit Guide for AirPod Cases</h1>
		<div class="sp-text-cont-pg-inn">
			<p class="sp-inn-pg-res-prgrm-top-sub-txt">To determine which AirPods you have, you can use your AirPods' model number. To do so, follow these instructions:</p>
			<div class="sp-ft-gd-method-row">				
				<div class="sp-ft-gd-method-block">
					<ul>
						<li><span>1</span> Look in iPhone/iPad device Settings</li>
						<li><span>2</span> Go to Settings > Bluetooth.*</li>
						<li><span>3</span> Find your AirPods in the list (for example, "John's AirPods").</li>
						<li><span>4</span> Tap the More Info button next to your AirPods, and you'll see the model number.</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div class="sp-fit-gd-4-col-main">
		<div class="sp-fit-gd-4-col-inn">
			<div class="sp-fit-gd-4-col-row">
				<div class="sp-fit-gd-4-col-block">
					<div class="sp-fit-gd-4-col-box">
						<div class="sp-fit-gd-4-col-img">
							<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/Bitmap-1.png?v=1643189368" />
						</div>
						<div class="sp-fit-gd-4-col-cont">
							<h3>AirPods Pro</h3>							
						</div>
					</div>
				</div>
				<div class="sp-fit-gd-4-col-block">
					<div class="sp-fit-gd-4-col-box">
						<div class="sp-fit-gd-4-col-img">
							<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/Bitmap.png?v=1643189405" />
						</div>
						<div class="sp-fit-gd-4-col-cont">
							<h3>AirPods</h3>
							<p>Includes the following:</p>
							<ul class="sp-text-cont-lined-list">
								<li>AirPods (Gen 3)</li>
								<li>AirPods (Gen 2)</li>
								<li>AirPods</li>
							</ul>
						</div>
					</div>
				</div>								
			</div>
		</div>
	</div>	
	<div class="sp-cst-container">
		<div class="sp-fit-gd-pro-specification">
			<h3>AirPods Pro</h3>
			<h4>Specifications</h4>
            <div class="sp-fit-gd-pro-specification-tbl">	
              <table>
                    <thead>
                        <tr>
                            <th>Model name</th>
                            <th> </th>
                            <th>Year Made</th>
                            <th>Model Id</th>
                            <th>charging compatibility</th>
                            <th>connector type</th>
							<th>Compatible Speck Cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Model Name"><b>AirPods Pro</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/ap-pro-removebg-preview.png?v=1643189459" /></td>
                            <td data-label="Year Made">2019</td>
                            <td data-label="Model id">A208 or<br />A2083</td>
                            <td data-label="charging compatibility">
							  <ul class="sp-text-cont-lined-list">
								<li>MagSafe</li>
								<li>Wireless</li>
								<li>Lightning Cable</li>
							  </ul>
							</td>
							<td data-label="connector type">Lightning Cable</td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">See cases</a></td>
                        </tr> 											
                    </tbody>				
              </table>
          </div>
		</div>
		<div class="sp-fit-gd-pro-specification">
			<h3>AirPods Pro</h3>
			<h4>Specifications</h4>
            <div class="sp-fit-gd-pro-specification-tbl">	
              <table>
                    <thead>
                        <tr>
                            <th>Model name</th>
                            <th> </th>
                            <th>Year Made</th>
                            <th>Model Id</th>
                            <th>charging compatibility</th>
                            <th>connector type</th>
							<th>Compatible Speck Cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Model Name"><b>AirPods (Gen 3)	</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/ap-3-removebg-preview.png?v=1643189545" /></td>
                            <td data-label="Year Made">2021</td>
                            <td data-label="Model id">A2565 or<br />A2564</td>
                            <td data-label="charging compatibility">
							  <ul class="sp-text-cont-lined-list">
								<li>MagSafe</li>
								<li>Wireless</li>
								<li>Lightning Cable</li>
							  </ul>
							</td>
							<td data-label="connector type">Lightning Cable</td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">See cases</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>AirPods (Gen 2)	</b></td>
                           <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/ap-12.png?v=1643189676" /></td>
                            <td data-label="Year Made">2019</td>
                            <td data-label="Model id">A2032 or<br />A2031</td>
                            <td data-label="charging compatibility">
							  <ul class="sp-text-cont-lined-list">
								<li>Wireless</li>
								<li>Lightning Cable</li>
							  </ul>
							</td>
							<td data-label="connector type">Lightning Cable</td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">See cases</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>AirPods (Gen 1)	</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/ap-1-removebg-preview.png?v=1643189750" /></td>
                            <td data-label="Year Made">2017</td>
                            <td data-label="Model id">A1523 or<br />A1722</td>
                            <td data-label="charging compatibility">
							  <ul class="sp-text-cont-lined-list">
								<li>Lightning Cable</li>
							  </ul>
							</td>
							<td data-label="connector type">Lightning Cable</td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">See cases</a></td>
                        </tr> 
                    </tbody>				
              </table>
          </div>
		</div>
		
		
		
	</div>
</div>


{% schema %}
  {
    "name": "AirPod Fit Guide",
    "class": "cstm_AirPod_Fit_Guide",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
