<h1>iPhone Teaser Page</h1>
{% schema %}
  {
    "name": "iPhone Teaser (Header)",
    "class": "iphone-teaser-header",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}