 <div class="sp-text-cont-pg-main sp-macbook-case-pg-main">
	<div class="sp-cst-container">
		<h1>Fit guide for macbook cases</h1>
		<div class="sp-text-cont-pg-inn">
			<p class="sp-inn-pg-res-prgrm-top-sub-txt">To determine which MacBook you have, you can use your laptop’s model number. To do so, follow these instructions:</p>
			<div class="sp-ft-gd-method-row">				
				<div class="sp-ft-gd-method-block">
					<ul>
						<li><span>1</span> Find the model numberinstructions:</li>
						<li><span>2</span> Use the info obtained in step 1 to see if your MacBook is listed in the appropriate table below</li>
						<li><span>3</span> Use the link(s) in the “Compatible Speck Cases” or "Compatible Speck Sleeve(s)" column of the table your MacBook is listed in to pick up a slick new case or sleeve!</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div class="sp-fit-gd-4-col-main">
		<div class="sp-fit-gd-4-col-inn">
			<div class="sp-fit-gd-4-col-row">
        <div class="sp-fit-gd-4-col-block">
          <div class="sp-fit-gd-4-col-box">
            <div class="sp-fit-gd-4-col-img">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mac-book-1.png?v=1643173031" />
            </div>
            <div class="sp-fit-gd-4-col-cont">
              <h3>MacBook Pro</h3>
              <p>Includes the following:</p>
              <ul class="sp-text-cont-lined-list">
                <li>MacBook Pro 13" (with & without Touch bar and Touch id)</li>
                <li>MacBook Pro 13" (Retina)</li>
                <li>MacBook Pro 13"</li>
                <li>MacBook Pro 14"</li>
                <li>MacBook Pro 15" (with & without Touch bar and Touch id)</li>
                <li>MacBook Pro 15" (Retina)</li>
                <li>MacBook Pro 13" SuperDrive</li>
                <li>MacBook Pro 15"</li>
                <li>MacBook Pro 15" SuperDrive</li>
                <li>MacBook Pro 16"</li>
              </ul>
            </div>
          </div>
        </div>
				<div class="sp-fit-gd-4-col-block">
					<div class="sp-fit-gd-4-col-box">
						<div class="sp-fit-gd-4-col-img">
							<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mac-book-11.png?v=1643173031" />
						</div>
						<div class="sp-fit-gd-4-col-cont">
							<h3>MacBook Air</h3>
							<p>Includes the following:</p>
							<ul class="sp-text-cont-lined-list">
								<li>MacBook Air 13" (2020)</li>
								<li>MacBook Air 13" (2018)</li>
								<li>MacBook Air 13"</li>
								<li>MacBook Air 11"</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="sp-fit-gd-4-col-block">
					<div class="sp-fit-gd-4-col-box">
						<div class="sp-fit-gd-4-col-img">
							<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mac-book-1.png?v=1643173031" />
						</div>
						<div class="sp-fit-gd-4-col-cont">
							<h3>MacBook </h3>
							<p>Includes the following:</p>
							<ul class="sp-text-cont-lined-list">
								<li>MacBook 12’’</li>
							</ul>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>	
	<div class="sp-cst-container">
		<div class="sp-fit-gd-pro-specification">
			<h3>MacBook Pro</h3>
			<h4>Specifications</h4>
            <div class="sp-fit-gd-pro-specification-tbl">	
              <table>
                    <thead>
                        <tr>
                            <th>Model Name</th>
                            <th> </th>
                            <th>model id</th>
                            <th>Perfiferal<br />Connection</th>
                            <th>Compatible Speck Case(s)</th>
                            <th>Compatible Speck<br />sleeve(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Model Name"><b>MacBook Pro (13" 2020)</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mac-book-img.png?v=1643173031" /></td>
                            <td data-label="model id">MacBookPro16,2<br />or<br />MacBookPro16,3</td>
                            <td data-label="Perfiferal Connection">Four Thunderbolt 3 ports (USB-C)<br />or<br />Two Thunderbolt 3 ports (USB-C)</td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>MacBook Pro (13" Early 2015, Retina)</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/Group_3_Copy_7.png?v=1643178662" /></td>
                            <td data-label="model id">MacBookPro12,1</td>
                          <td data-label="Perfiferal Connection">MagSafe 2 power port<br />Two Thunderbolt 2 ports<br />Two USB 3 ports<br />HDMI port<br />3.5 mm headphone jack<br />SDXC card slot<br /></td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>MacBook Pro (13" Mid 2014, Retina)</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mbp132014-removebg-preview.png?v=1643178702" /></td>
                            <td data-label="model id">MacBookPro11,1</td>
                            <td data-label="Perfiferal Connection">MagSafe 2 power port<br />Two Thunderbolt 2 ports<br />Two USB 3 ports<br />HDMI port<br />3.5 mm headphone jack<br />SDXC card slot<br /></td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>MacBook Pro (13" 2013,Retina)	</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mbp132014-removebg-preview.png?v=1643178702" /></td>
                            <td data-label="model id">MacBookPro10,2<br /> or<br /> MacBookPro11,1</td>
                            <td data-label="Perfiferal Connection">MagSafe 2 power port<br />Two Thunderbolt 2 ports<br />Two USB 3 ports<br />HDMI port<br />3.5 mm headphone jack<br />SDXC card slot<br /></td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>MacBook Pro (13" 2013, Retina)	</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mbp132014-removebg-preview.png?v=1643178702" /></td>
                            <td data-label="model id">MacBookPro10,2<br /> or<br /> MacBookPro11,1</td>
                            <td data-label="Perfiferal Connection">MagSafe 2 power port<br />Two Thunderbolt 2 ports<br />Two USB 3 ports<br />HDMI port<br />3.5 mm headphone jack<br />SDXC card slot<br /></td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 						
                    </tbody>				
              </table>
          </div>
		</div>
		
		<div class="sp-fit-gd-pro-specification">
			<h3>MacBook Pro 14’’ Series</h3>
			<h4>Specifications</h4>
            <div class="sp-fit-gd-pro-specification-tbl">	
              <table>
                    <thead>
                        <tr>
                            <th>Model Name</th>
                            <th> </th>
                            <th>model id</th>
                            <th>Perfiferal<br />Connection</th>
                            <th>Compatible Speck Case(s)</th>
                            <th>Compatible Speck<br />sleeve(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Model Name"><b>MacBook Pro (14" 2021)	</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mbp14_16_2021-removebg-preview.png?v=1643181300" /></td>
                            <td data-label="model id">
                          	  <ul class="sp-text-cont-lined-list">
								<li>MKGP3xx/A,</li>
								<li>MKGQ3xx/A,</li>
								<li>MKGR3xx/A,</li>
								<li>MKGT3xx/A</li>
							  </ul>
                            </td>
                            <td data-label="Perfiferal Connection">
                              <ul class="sp-text-cont-lined-list">
                                <li>Three Thunderbolt 4 (USB-C) ports</li>
                                <li>HDMI port</li>
                                <li>SDXC card slot</li>
                              </ul>
                          </td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label="">
                              <div class="tbl-cases-nt-avalble">Cases are not yet available.<br /> Check back soon.</div>
                              <a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a>
                            </td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 						 						
                    </tbody>				
              </table>
          </div>
		</div>
		
		
		<div class="sp-fit-gd-pro-specification">
			<h3>MacBook Pro 16’’ Series</h3>
			<h4>Specifications</h4>
            <div class="sp-fit-gd-pro-specification-tbl">	
              <table>
                    <thead>
                        <tr>
                            <th>Model Name</th>
                            <th> </th>
                            <th>model id</th>
                            <th>Perfiferal<br />Connection</th>
                            <th>Compatible Speck Case(s)</th>
                            <th>Compatible Speck<br />sleeve(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Model Name"><b>MacBook Pro (16” 2021)</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mbp14_16_2021-removebg-preview.png?v=1643181300" /></td>
                            <td data-label="model id">                          	  
                              <ul class="sp-text-cont-lined-list">
							  <li>MK183xx/A,</li>
                              <li>MK193xx/A,</li>
                              <li>MK1A3xx/A,</li>
                              <li>MK1E3xx/A,</li>
                              <li>MK1F3xx/A,</li>
                              <li>MK1H3xx/A</li>
							  </ul>
                          </td>
                          <td data-label="Perfiferal Connection">
                            <ul class="sp-text-cont-lined-list">
                              <li>Three Thunderbolt 4 (USB-C) ports</li>
                              <li>HDMI port</li>
                              <li>SDXC card slot</li>
                            </ul>
                          </td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label="">
                              <div class="tbl-cases-nt-avalble">Cases are not yet available.<br /> Check back soon.</div>
                              <a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a>
                          </td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 
						<tr>
                            <td data-label="Model Name"><b>MacBook Pro<br />(16", Late 2019)</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mac-book-img.png?v=1643173031" /></td>
                            <td data-label="model id">MacBookPro16,1</td>
                            <td data-label="Perfiferal Connection">Touch bar<br />Four Thunderbolt 3 port (USB-C)</td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 
                    </tbody>				
              </table>
          </div>
		</div>
		
		<div class="sp-fit-gd-pro-specification">
			<h3>MacBook Air</h3>
			<h4>Specifications</h4>
            <div class="sp-fit-gd-pro-specification-tbl">	
              <table>
                    <thead>
                        <tr>
                            <th>Model Name</th>
                            <th> </th>
                            <th>model id</th>
                            <th>Perfiferal<br />Connection</th>
                            <th>Compatible Speck Case(s)</th>
                            <th>Compatible Speck<br />sleeve(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Model Name"><b>MacBook Air 13"<br />(2020, Retina)	</b></td>
                            <td data-label=""><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0325/4252/3523/files/mba2020-removebg-preview.png?v=1643181397" /></td>
                            <td data-label="model id">MacBookAir9,1	</td>
                          <td data-label="Perfiferal Connection">
                            <ul class="sp-text-cont-lined-list">
                              <li>Three Thunderbolt 4 (USB-C) ports</li>
                            </ul>
                          </td>
                            <td class="sp-fit-gd-tbl-mob-btns" data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a> <a href="#" class="sp-bl-lined-btn">See Cases</a></td>
							<td data-label=""><a href="#" class="sp-bl-lined-btn">transfer pro-pocket</a></td>
                        </tr> 						 						
                    </tbody>				
              </table>
          </div>
		</div>
		
		
	</div>
</div>





{% schema %}
  {
    "name": "Macbook Fit Guide",
    "class": "cstm_Mac_Fit_Guide",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
