<div class="bs-ctl-template-main">
    {% section 'bs-crisis-text-line-page-hero' %}
    {% section 'bs-crisis-text-line-page-sec1' %}
    {% section 'hero-video' %}
    {% section 'bs-crisis-text-line-page-sec2' %}
</div>
