<div class="sp-trd-upr-main">
<div class="page-width">
  <div class="sp-trd-upr-title-desc">
    <div>
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="sp-trd-upr-title-desc-cont">
        {{ page.content }}
      </div>
    </div>
  </div>
  <div class="sp-trd-lwr-info-main">
  {%section 'page-traditional-guide'%}
  </div>
</div>
</div>