<div class="sp-text-cont-pg-main">
   
   {%section 'fit-guide-ipad'%}
  
   {%section 'fit-guide-ipad-mini-section'%} 
   
   {%section 'fit-guide-ipad-section'%}
  
   {%section 'fit-guide-ipad-air-section'%}
   
   {%section 'fit-guide-ipad-pro-section'%}
   
   {% section 'fit-guide_return-link' %}
</div>  