<div class="sp-text-cont-pg-main">
   
   {% section 'fit-guide-macbook' %}
  
   {% section 'fit-guide-macbook-pro-section' %}
  
   {% section 'fit-guide-macbook-air-section' %}
  
   {% section 'fit-guide-macbook-section' %}
   
   {% section 'fit-guide_return-link' %}
  
</div>  